################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program/.vs/Program
/Program/Program/bin/Debug/COMP4150Database.mdf
